@font-face {
  font-family: "Pr-Thin";
  src: url("fonts/Pretendard-Thin.woff2");
}
@font-face {
  font-family: "Pr-ExtraLight";
  src: url("fonts/Pretendard-ExtraLight.woff2");
}
@font-face {
  font-family: "Pr-Light";
  src: url("fonts/Pretendard-Light.woff2");
}
@font-face {
  font-family: "Pr-Regular";
  src: url("fonts/Pretendard-Regular.woff2");
}
@font-face {
  font-family: "Pr-Medium";
  src: url("fonts/Pretendard-Medium.woff2");
}
@font-face {
  font-family: "Pr-SemiBold";
  src: url("fonts/Pretendard-SemiBold.woff2");
}
@font-face {
  font-family: "Pr-Bold";
  src: url("fonts/Pretendard-Bold.woff2");
}
@font-face {
  font-family: "Pr-ExtraBold";
  src: url("fonts/Pretendard-ExtraBold.woff2");
}
@font-face {
  font-family: "Pr-Black";
  src: url("fonts/Pretendard-Black.woff2");
}
